@model ShopViewModel

<!-- Page Title #1
============================================= -->
<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
	<div class="bg-section">
		<img src="assets/images/page-title/16.jpg" alt="Background" />
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="title title-1 text-center">
					<div class="title--content">
						<div class="title--subtitle">Fresh, Tasty Meals</div>
						<div class="title--heading">
							<h1>Discover Our Menu</h1>
						</div>
					</div>
					<div class="clearfix"></div>
					<ol class="breadcrumb">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="index.html">menu</a>
						</li>
						<li class="active">simple</li>
					</ol>
					<div class="divider--shape-1down"></div>
				</div>
				<!-- .title end -->
			</div>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #page-title end -->
<!-- Menu Simple
============================================= -->
<section id="menuSimple">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="heading heading-1 mb-50 text--center">
					<p class="heading--subtitle">Start Eating Better</p>
					<h2 class="heading--title mb-0">Daily New Fresh Meals</h2>
					<div class="divider--shape-4"></div>
					<p class="heading--desc">Steak In has the perfect place to enjoy fine food and great cocktails with excellent service, in comfortable atmospheric surroundings. We have a soft dining room, combined with an open kitchen, coffee take out bar and alovely awesome on site coffee roastery.</p>
				</div>
			</div>
			<!-- .col-md-8 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
	<div class="container-fluid pr-0 pl-0 tabs">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">

				<!-- Tab panes -->
				<div class="tab-content">
						<!-- Menu
						============================================= -->
						<div class="menu-simple">
							<div class="container">
								<div class="row" id="menu-items-container">
								<!-- Nav tabs -->
								<div class="col-xs-12 col-sm-12  col-md-12 shop-filter">
									<ul class="list-inline shop-filters">
										<li><a href="#" class="active-filter" data-filter="*">All</a></li>
										@foreach (var item in Model.Categories)
										{
											<li><a href="#" data-filter=".filter-@item.Name">@item.Name</a></li>
										}
									</ul>

								</div>
								<!-- Dish #1 -->
									@foreach(var item in Model.MenuItems){
									<div class="col-xs-12 col-sm-12 col-md-6 productFilter filter-@item.Category.Name">
											<div class="dish-panel">
												<div class="dish--img">
													<img src="~/images/menuItem/@item.ImgUrl" alt="dish">
												</div>
												<div class="dish--content">
													<div class="dish--content-bio">
														<h3 class="dish--title">@item.Name</h3>
														<div class="dish--price">$@item.Price</div>
													</div>
													<p class="dish--desc">@item.Description</p>
												</div>
											</div><!-- .dish end -->
										</div>

										<!-- .dish-panel end -->
									}
								</div> <!-- .row end -->
						</div><!-- #menuSimple1 end -->
					</div>
					<!-- .tab-pane end -->
@* 					<div class="tab-pane fade in active" id="lunch">
						<!-- Menu
						============================================= -->
						<div class="menu-simple">
							<div class="container">
								<div class="row">
									<!-- Dish #1 -->
									@foreach(var item in Model.MenuItems){
										<div class="col-xs-12 col-sm-12 col-md-6 filter-@item.Category.Name">
										<div class="dish-panel">
											<div class="dish--img">
													<img src="~/images/menuItem/@item.ImgUrl" alt="dish">
											</div>
											<div class="dish--content">
												<div class="dish--content-bio">
													<h3 class="dish--title">@item.Name</h3>
													<div class="dish--price">$@item.Price</div>
												</div>
												<p class="dish--desc">@item.Description</p>
											</div>
										</div><!-- .dish end -->
									</div><!-- .dish-panel end -->

									}
								</div> <!-- .row end -->
							</div><!-- .container end -->
						</div><!-- #menuSimple1 end -->
					</div>
 *@					<!-- .tab-pane end -->
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #menuSimple end -->

<script>
	$(document).ready(function () {
		$('.shop-filters a').on('click', function (e) {
			e.preventDefault();

			$('.shop-filters a').removeClass('active-filter');
			$(this).addClass('active-filter');

			// Optionally: filter products here if using Isotope or similar
			// const filterValue = $(this).data('filter');
			// $('#shop-all').isotope({ filter: filterValue });
		});
	});
</script>